*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    padding: 0;
    margin:0;
}
body{
    background: url(../src/images/bg.jpg);
}

body::after{
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

h2, .playerInfo{
    text-align: center;
    padding: 10px;
}
h3{
    margin-left: 230px;
}

#main{
   width: 100%;
   text-align: center;
}

.info-container{    
    width: 40%;
    margin: auto;
    margin-top: 30vh;
}
.info-container h1{
    color: white;
}

.tryP{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container input{
    border: none;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info-container button{
    width: 100%;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color:whitesmoke;
    background-color: #ff0000;

}

.btn{
    width: 30%;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color:whitesmoke;
    background-color: #ff0000;
}

.ships{
    background-color: red;
    position: absolute;
    border: 1px solid gray;
    cursor: pointer;
}

.setup-board{
    margin: auto;
    margin-bottom: 10px;
}

.setup-board-info{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#boards{
    padding-left: 25%;
}

.board{
    position: relative;
    width: 300px;
}

.play-container{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 30vh;
    justify-content: space-around;
}

.play-name{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


.board-cell{
    display: inline-block;
    width : 30px;
    vertical-align: top;
    height : 30px;
    border: 1px solid gray;
    text-align: center;
    background-color: white;
}

.board-row{
    height: 30px;
}

.disableddiv {
    pointer-events: none;
    opacity: 0.4;
}